* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 900;
  padding-bottom: 20px;
}

p,
ul {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

li {
  list-style-image: url(./assets/list-square.jpg);
  padding-left: 10px;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* FORM */
.form {
  height: 660px;
  width: 570px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -175px;
  order: 1;
  position: relative;
}

.form:before {
  content: "";
  position: absolute;
  display: block;
  height: 660px;
  right: 0;
  left: calc(-50vw + 570px);
  background-image: url(./assets/form-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #59aadf;
}

.form_content {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin-left: 100px;
  position: relative;
  z-index: 20;
}

.form_content > p,
.form_content > h2 {
  width: 255px;
}

.form_content > p {
  font-weight: 300;
}

form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  order: 2;
}

form > input,
form > textarea {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

form > input::placeholder,
form > textarea::placeholder {
  font-size: 18px;
  font-family: "Lekton", sans-serif;
  color: white;
}

.button {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
  width: 215px;
  align-self: center;
  border: none;
  background-color: #e74c3c;
}

/* INFO */

.info {
  width: 505px;
  margin-top: 70px;
  order: 2;
}

.title > span {
  color: lightgray;
}

.info > .title::after,
.offer_content .title::after {
  content: url(./assets/red-line.jpg);
  display: block;
  margin-top: -10px;
}

.small_title {
  font-weight: 800;
  margin-top: 25px;
}

.info > p:nth-child(3) {
  margin-top: 25px;
}

.important_info {
  margin-top: 30px;
  background: #e74c3c;
  padding: 35px 43px;
  color: white;
}

.important_info > p:last-child {
  padding-top: 20px;
  font-weight: 600;
}

.icons {
  margin: 60px 0;
}

.icon_box {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.icon_box > img {
  width: 100px;
  height: 100px;
  margin-right: 85px;
}

.icon_box > p {
  font-size: 20px;
  font-weight: 800;
  margin-right: 60px;
}

/* OFFER */
.offer {
  width: 570px;
  margin-top: -550px;
  margin-left: -175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 3;
}

.offer_content {
  margin: 0;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 160px;
}

.offer_content > div > p {
  margin: 30px auto;
}

.offer_content ul {
  margin-left: 15px;
  margin-top: 30px;
}

li {
  list-style-image: url(./assets/list-square.jpg);
  padding-left: 10px;
}

/* SUMMARY */
.summary {
  margin-top: 40px;
  padding: 50px 40px;
  background-color: #59aadf;
  color: white;
  order: 4;
  display: flex;
}

.summary > div:first-child > p {
  width: 320px;
  margin-right: 80px;
}

.summary > div:last-child::before {
  content: "";
  /* display: inline-block; */
  background-color: white;
  width: 5px;
  height: 250px;
  transform: rotatex(90);
}

.summary > div:last-child > p {
  margin-left: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width: 320px) and (max-device-width: 560px) {
  .container {
    display: initial;
  }

  .form {
    width: 100vw;
    margin: 0;
  }

  .form:before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    background-image: url(./assets/form-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #59aadf;
  }

  .form_content {
    margin: 0 50px;
  }

  .info {
    width: 100vw;
    margin-top: 30px;
    padding: 0 50px;
  }

  .important_info {
    width: 100vw;
    margin-left: -50px;
  }

  .icons img {
    margin-right: 20px;
  }

  .icons {
    margin-top: 40px;
  }

  .icon_box {
    width: 85vw;
    margin-left: -25px;
  }

  .icon_box > h2,
  .icon_box > p {
    font-size: 15px;
    margin: 0;
  }

  .info > p {
    margin-top: -10px;
  }

  .offer {
    width: 100vw;
    margin: 0;
  }

  .offer_content {
    margin: 50px;
  }

  .offer_content > div > p {
    margin: 30px auto;
  }

  .summary {
    width: 100vw;
    padding: 50px;
    display: block;
    margin-top: 0;
  }

  .summary > div:first-child > p {
    width: 240px;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .summary > div:last-child::before {
    content: "";
    display: block;
    background-color: white;
    width: 70vw;
    height: 5px;
  }

  .summary > div:last-child > p {
    margin-left: 0;
    margin-top: 50px;
  }
}

/* Tablets (portrait) ----------- */
@media (min-device-width: 560px) and (max-device-width: 1000px) {
  .container {
    display: initial;
  }

  .form {
    width: 100vw;
    height: 300px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 50px;
    order: 1;
  }

  .form:before {
    content: "";
    display: block;
    height: 300px;
    width: 100vw;
    position: absolute;
    left: 0;
    background-image: url(./assets/form-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #59aadf;
  }

  .form_content {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .form_content > h2 {
    order: 2;
  }

  .form_content > p {
    margin-top: -100px;
    order: 3;
  }

  form {
    width: 40%;
    height: 250px;
  }

  .info {
    width: 100vw;
    padding: 0 100px;
  }

  .important_info {
    width: 100vw;
    margin: 70px -100px;
  }

  .icons img {
    margin-right: 20px;
  }

  .icons {
    margin-top: 40px;
    margin-right: 50px;
  }

  .icon_box > h2,
  .icon_box > p {
    font-size: 15px;
    margin: 0;
  }

  .info > p {
    margin-top: -10px;
  }

  .offer {
    margin: 20px 0;
    width: 100%;
  }

  .offer_content {
    margin: 50px auto;
  }

  .offer_content > div > p {
    margin: 30px auto;
  }

  .summary {
    width: 100vw;
    padding: 50px;
    display: block;
    margin-top: 0;
  }

  .summary > div:first-child > p {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .summary > div:last-child::before {
    content: "";
    display: block;
    background-color: white;
    width: 60vw;
    height: 5px;
    margin: 0 auto;
  }

  .summary > div:last-child > p {
    margin-left: 0;
    margin-top: 50px;
  }
}

/* Tablets (landscape) ----------- */
@media (min-device-width: 1000px) and (max-device-width: 1224px) {
  .container {
    display: initial;
  }

  .form {
    width: 100vw;
    height: 300px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 50px;
    order: 1;
  }

  .form:before {
    content: "";
    display: block;
    height: 300px;
    width: 100vw;
    position: absolute;
    left: 0;
    background-image: url(./assets/form-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #59aadf;
  }

  .form_content {
    margin: 0 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .form_content > h2 {
    order: 2;
  }

  .form_content > p {
    margin-top: -100px;
    order: 3;
  }

  form {
    width: 40%;
    height: 250px;
  }

  .info {
    width: 100vw;
    padding: 0 100px;
  }

  .important_info {
    width: 100vw;
    margin: 70px -100px;
  }

  .icons img {
    margin-right: 20px;
  }

  .icons {
    margin-top: 40px;
    margin-right: 50px;
  }

  .icon_box > h2,
  .icon_box > p {
    font-size: 15px;
    margin: 0;
  }

  .info > p {
    margin-top: -10px;
  }

  .offer {
    margin: 50px 0;
    width: 100%;
    height: 500px;
  }

  .offer_content {
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
  }

  .offer_content > h2 {
    width: 300px;
    align-self: center;
  }

  .offer_content > div {
    width: 300px;
    align-self: center;
  }

  .summary {
    padding: 50px 180px;
  }

  .summary > div:last-child > p {
    margin-left: 0;
  }
}
