.title {
  line-height: 50px;
}

.important_info > p:last-child {
  font-weight: normal;
  padding-top: 0;
}

.strategy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
  width: 100%;
}

.strategy > .title {
  font-size: 35px;
  line-height: 40px;
  max-width: 40%;
  padding-bottom: 0;
}

.strategy > p {
  width: 505px;
}

.summary {
  display: initial;
  margin-top: 60px;
}

.summary p:first-of-type {
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .important_info {
    width: 90%;
  }

  .strategy {
    width: 70%;
    margin: 80px auto;
  }

  .strategy > h2 {
    width: 30%;
  }

  .strategy > p {
    max-width: 60%;
  }

  .summary {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .important_info {
    width: 85%;
    margin: 0 auto;
    display: flex !important;
  }
}

@media (max-width: 800px) {
  .strategy {
    display: initial;
    margin: 0 auto;
  }

  .strategy > h2 {
    max-width: 70% !important;
    width: 70%;
    margin: 50px auto 30px auto;
  }

  .strategy > p {
    max-width: 70%;
    width: 70%;
    margin: 0 auto;
  }

  .summary {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .important_info {
    width: 70%;
  }
}
