.info ul {
  padding: 30px 50px 30px 15px;
}

li {
  padding-bottom: 15px;
}

.important_info {
  margin: 80px 0;
}

.important_info > p {
  font-weight: normal !important;
  padding-top: 0 !important;
}

.title {
  line-height: 50px;
}

.rescue > .title::after {
  content: url(../assets/blue-line.jpg);
  display: block;
  margin-top: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.first-col,
.second-col {
  width: 48%;
}

.icon_box {
  margin-bottom: 20px;
}
.icons img {
  margin-right: 30px;
}

.summary {
  display: initial;
  margin-top: 0;
}

.summary p:first-of-type {
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .important_info {
    width: 70%;
    margin: 40px auto;
  }

  .rescue {
    width: 70%;
    margin: 0 auto;
  }

  .icons {
    width: 100%;
    margin: 30px auto;
  }

  .icon_box {
    align-items: flex-start;
  }

  .summary {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .icons {
    display: initial;
  }

  .icons > div {
    width: 100%;
  }

  .icon_box {
    margin: 40px 0;
  }
}

@media (max-width: 500px) {
  .icons > div {
    width: 70%;
  }

  .icon_box {
    flex-direction: column;
    align-items: center;
  }
}
