body {
  font-family: "Montserrat", sans-serif;
}

b {
  font-weight: bold;
}

.title {
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 900;
  padding-bottom: 20px;
}

p,
ul {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

li {
  list-style-image: url(../assets/list-square.jpg);
  padding-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hamburger {
  height: 100%;
  background: none;
  border: none;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  width: 80%;
}

nav li {
  list-style-image: none;
  padding-left: 20px;
}

nav a {
  border-bottom: 1px solid black;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* FORM */
.form {
  height: 660px;
  width: 570px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -175px;
  position: relative;
}

.form:before {
  content: "";
  position: absolute;
  display: block;
  height: 660px;
  right: 0;
  left: calc(-50vw + 570px);
  background-image: url(../assets/form-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #59aadf;
}

.form_content {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin-left: 100px;
  position: relative;
  z-index: 20;
}

.form_content > p,
.form_content > h2 {
  width: 255px;
}

.form_content > p {
  font-weight: 300;
}

form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form > input,
form > textarea {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

form > input::placeholder,
form > textarea::placeholder {
  font-size: 18px;
  font-family: "Lekton", sans-serif;
  color: white;
}

@supports (-ms-ime-align: auto) {
  form {
    margin-top: 20px;
  }

  input,
  textarea {
    margin-bottom: 20px !important;
    padding-bottom: 5px !important;
  }

  form > input::-ms-input-placeholder,
  form > textarea::-ms-input-placeholder {
    font-size: 18px;
    font-family: "Lekton", sans-serif;
    color: white;
  }
}

.button {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
  width: 215px;
  align-self: center;
  border: none;
  background-color: #e74c3c;
}

/* INFO */

.info {
  width: 505px;
  margin-top: 70px;
}

.title > span {
  color: lightgray;
}

.info > .title::after,
.offer_content .title::after {
  content: url(../assets/red-line.jpg);
  display: block;
  margin-top: -10px;
}

.small_title {
  font-weight: 800;
  margin-top: 25px;
}

.info > p:nth-child(3) {
  margin-top: 25px;
}

.important_info {
  margin-top: 30px;
  background: #e74c3c;
  padding: 35px 43px;
  color: white;
}

.important_info > p:last-child {
  padding-top: 20px;
  font-weight: 600;
}

.icons {
  margin: 60px 0;
}

.icon_box {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.icon_box > img {
  width: 100px;
  height: 100px;
  margin-right: 85px;
}

.icon_box > p {
  font-size: 20px;
  font-weight: 800;
  margin-right: 60px;
}

/* OFFER */
.offer {
  width: 570px;
  margin-top: -550px;
  margin-left: -175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offer_content {
  margin: 0;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 160px;
}

.offer_content > div > p {
  margin: 30px auto;
}

.offer_content ul {
  margin-left: 15px;
  margin-top: 30px;
}

/* SUMMARY */
.summary {
  margin-top: 40px;
  padding: 50px 40px;
  background-color: #59aadf;
  color: white;
  display: flex;
}

.summary > div:first-child > p {
  width: 320px;
  margin-right: 80px;
}

.summary > div:last-child::before {
  content: "";
  background-color: white;
  width: 5px;
  height: 250px;
  display: block;
  position: absolute;
}

.summary > div:last-child > p {
  margin-left: 100px;
}

/* Tablets (landscape) ----------- */
@media (max-width: 1200px) {
  .container {
    display: initial;
  }

  nav {
    width: 80%;
    margin: auto;
  }

  .hamburger {
    margin: 20px 0;
    margin-left: 50px;
  }

  nav ul {
    margin: 20px auto;
  }

  nav li {
    padding: 0 10px;
  }

  .form {
    width: 100%;
    height: 70vh;
    min-height: 360px;
    max-height: 660px;
    margin: 0;
    margin-bottom: 50px;
    overflow: hidden;
  }

  .form:before {
    width: 100vw;
    height: 70vh;
    min-height: 360px;
    max-height: 660px;
    position: absolute;
    right: 0;
    left: 0;
  }

  .form_content {
    width: 70%;
    max-height: 450px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form_description {
    width: 40%;
  }

  form {
    width: 50%;
    min-height: 270px;
  }

  .info {
    width: 70%;
    margin: 0 auto;
  }

  .info > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }

  .important_info {
    width: 40%;
  }

  .icons {
    margin: 0;
    margin-bottom: 20px;
    width: 40%;
  }

  .icons img {
    margin-right: 20px;
  }

  .icon_box > h2,
  .icon_box > p {
    font-size: 15px;
    margin: 0;
  }

  .offer {
    margin: 0;
    margin: 50px auto;
    width: 100%;
    flex-wrap: nowrap;
  }

  .offer_content {
    margin: 0;
    width: 70%;
    justify-content: space-between;
  }

  .offer_content > h2 {
    max-width: 250px;
    margin-top: 40px;
    align-self: flex-start;
  }

  .offer_content > div {
    max-width: 350px;
    margin: 0;
  }

  .summary {
    padding: 50px 15%;
  }

  .summary > div:first-child > p {
    max-width: 250px;
    margin-right: 5vw;
  }

  .summary > div:last-child > p {
    margin-left: 8vw;
  }
}

/* Tablets (portrait) ----------- */
@media (max-width: 900px) {
  .info > div:first-of-type {
    display: initial;
  }

  .important_info {
    width: initial;
  }

  .icons img {
    margin-right: 20px;
  }

  .icons {
    width: initial;
    margin: 50px 0;
  }

  .offer {
    margin-top: 10px;
  }

  .offer_content {
    margin: 0 auto;
  }

  .offer_content > h2 {
    min-width: 300px;
    max-width: 500px;
  }

  .offer_content > div {
    min-width: 450px;
    margin: 0 auto;
  }

  .summary {
    padding: 50px 15%;
    display: block;
    margin-top: 0;
  }

  .summary > div:first-child > p {
    min-width: 70vw;
    margin-bottom: 50px;
  }

  .summary > div:last-child::before {
    content: "";
    display: block;
    background-color: white;
    width: 70vw;
    height: 5px;
    margin: 0 auto;
  }

  .summary > div:last-child > p {
    margin-left: 0;
    padding-top: 50px;
  }

  .summary > div:last-child > p:last-of-type {
    padding-top: 20px;
  }
}

/* Smartphone (landscape) ----------- */
@media (max-width: 750px) {
  nav ul {
    width: 70%;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  .hamburger {
    margin-left: 10px;
  }

  nav li {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .form {
    height: 100vh;
  }

  .form:before {
    height: 100vh;
  }

  .form_description {
    margin-top: -20px;
  }

  form {
    min-height: 230px;
  }

  .offer_content > div {
    min-width: initial;
  }
}

/* Smartphones (portrait) ----------- */
@media (max-width: 500px) {
  .form:before {
    height: 100%;
  }
  .form_content {
    display: initial;
    width: 90vw;
    height: inherit;
    margin: 50px;
    max-height: initial;
  }

  .form_description {
    width: initial;
    margin-top: 0;
  }

  .form {
    height: inherit;
  }

  form {
    min-height: 300px;
    width: initial;
    max-height: 350px;
    padding: 20px 0 0;
  }

  .button {
    margin-top: 10px;
  }

  .important_info {
    width: 100%;
    margin-left: -12vw;
  }

  .icon_box {
    width: 130%;
    margin-left: -15%;
  }

  .icon_box > p {
    font-size: 14px;
    line-height: 18px;
    width: initial;
  }

  .offer_content > h2 {
    min-width: 150px;
  }

  .offer_content > div {
    min-width: 250px;
  }
}

/* Smartphones (small) ----------- */
@media (max-width: 350px) {
  form {
    width: initial;
    max-height: 250px;
  }

  .important_info {
    width: 90%;
    margin-left: -15%;
  }
}

@media (max-height: 350px) {
  .form {
    overflow: hidden;
  }
}
